<section>

  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolacao: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 nao e: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}" />
    <img [src]="urlImage" />
  </article> -->

  <!-- <section class="">

    <article>
      <h3>Event binding</h3>
      <div>
        <button 
          class="btn btn-primary"
          (click)="botaoClicado()"
        >
          Me Clique
        </button>

        <br><br>

        <input
          type="text" 
          (keyup)="onKeyUp($event)"
          (keyup.enter)="salvarValor(campoInput.value)"
          (blur)="salvarValor(campoInput.value)"
          #campoInput
        />

        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>

        <br>

        <span
          (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOver"
        >
          Passe o mause sobre mim
        </span>

      </div>
    </article>

  </section> -->

  <!-- <app-meu-form></app-meu-form> -->

  <section class="input-output-properties">
      <article>
          <h3>Input/Output properties</h3>

          <app-curso [nome]="nomeDoCurso"></app-curso>
      </article>
  </section>

</section>